<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - SpotiStats</title>
    <link rel="stylesheet/scss" href="~/css/layout.scss" />
</head>
<body>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <nav class="navbar navbar-dark bg-dark py-3" role="navigation">
        <div class="container-sm ">
            <a class="navbar-brand" href="#">
                <img src="https://cdn2.downdetector.com/static/uploads/logo/Spotify_Logo_RGB_Green.png" alt="Logo" height="36" class="d-inline-block align-text-top">
            </a>

            <div class="nav-item d-flex flex-row-reverse" id="navbarSupportedContent">
                <a asp-page="/Stats/Index"><div class="btn btn-outline-success btn-lg">Log in</div></a>
            </div>
        </div>
    </nav>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
